/* color pallett used  */
/* #05386B
#379683
#5CDB95
8EE4AF
EDF5E1 */

.header {
    line-height: 128px;
    background-color: #05386B;
    font-size:38px;
    color:lightcyan;
    text-align: center;
    border-radius: 50px;
    margin-bottom: 20px;
}

#addNew {
    background-color:#379683;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#addNew input {
    line-height: 25px;
    min-width: 250px;
    border-radius: 10px;
    margin-right: 20px;
    cursor: pointer;
}
#addNew input:hover {
    background-color: #EDF5E1;
}
#submitButton {
    padding: 6px 10px;
    border-radius: 10px;
    border: 2px black solid;
    background-color: #EDF5E1 ;
    font-weight: bold;
}
#submitButton:hover {
    transform: scale(1.1);
    background-color: lightcyan;
}
#allLists {
    display: flex;
    flex-direction: row;
}

.listBox {
    border: 2px solid black;
    flex:1;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.delete {
    background-color: #8EE4AF;
    border-radius: 25px;
    padding: 20px;
    margin:10px
}
.delete span {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.deleteButton,.inprogress,.doneButton {
    padding: 7px;
    margin:3px;
    border-radius: 15px;
    border:2px black solid;
    background-color: #05386B;
    color: lightcyan;
    opacity: 0.7;
    transition: 300ms;
}

.deleteButton:hover,.inprogress:hover,.doneButton:hover {
    opacity: 1;
    transform: scale(1.05);
} 

.container {
    background-color: #EDF5E1;
    height: 100vh;
    width: 100vw;
}